[Unit]
Description=filesync1
After=network.target

[Service]
Type=simple
PIDFile=/run/lsyncd.pid

; ExecStart=/usr/bin/lsyncd /home/svonjoi/dev/repo/sync/rsync/cfg.lua
ExecStart=/usr/bin/lsyncd /home/svonjoi/dev/repo/sync/rsync/cfg.lua

ExecReload=/bin/kill -HUP $MAINPID
Restart=always
StandardOutput=append:/tmp/lsyncdtest/stdout.log
StandardError=append:/tmp/lsyncdtest/stderr.log

; sync project root
Environment="LUA_PATH="

; rsync secrets
Environment="RSYNC_TARGET_HOST="
Environment="SSH_PRIVATE_KEY="

; rclone secrets
Environment="AWS_SECRET_ACCESS_KEY="
Environment="AWS_ACCESS_KEY_ID="

[Install]
WantedBy=multi-user.target
