package.path = package.path .. "/?.lua"
local s = require("rsync.settings")

s.logfile = "/tmp/lsyncdtest/lsyncd_rsync_job1.log"
s.statusFile = "/tmp/lsyncdtest/lsyncd_rsync_job1.status"

settings(s)

-- TODO: test with rsync.ssh
-- TODO: systemd service multiple exec
sync({
	default.rsync,
	source = "/tmp/lsyncdtest/source",
	target = "/tmp/lsyncdtest/target",
	delay = 5,
	rsync = {
		_extra = {
			"--ignore-existing",
		},
	},
})
